// COLORS

$kpn-green: #009900;
$kpn-blue: #0a9cff;
$kpn-blue-darker: #0077cc;
$kpn-gray: #f3f3f3;
$kpn-gray-black: #535353;
$kpn-orange: #ff9900;

$brand-primary: $kpn-green;
$text-color: #333;

$kpn-footer-gray: #535353;