// FONTS

$kpn-sans:  'KPN Sans', 'Helvetica','Arial', sans-serif;
$kpn-accent: 'KPN Accent', 'Helvetica','Arial', sans-serif;
$font-size-base: 16px;

// FONT WEIGHTS

$thin: 100;
$light: 300;
$regular: 400;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$black: 900;

$helvetica: 'Helvetica','Arial', sans-serif;

$checkmark: 'Web Symbols KPN Selection';

$font-family-sans-serif:  $kpn-sans;
$font-family-headers: $kpn-accent;