.prefooter__outer
	.container
		.row
			.col-xs-12
				.prefooter
					.row
						.col-xs-12.col-ts-3
							+kpn-logo
						.hidden-xs-ls.col-ts-9
							+secondary-nav
.footer__outer
	.container
		.row
			.col-xs-12
				.footer
					+footer-nav