- var companyName = 'KPN WiFi HotSpots'

- var logoLink = '/'
- var homeLink = logoLink

//- var baseURL = 'http://www.kpnhotspotvandezaak.nl/'
- var baseURL = ''

- var overLink = baseURL + 'over-kpn-wifi-hotspots.html'
- var serviceLink = baseURL + 'service-en-contact.html'
- var bestellenLink = baseURL + 'bestellen.html'
- var algemeneVoorwaardenLink = baseURL + 'algemene-voorwaarden.html'
- var dienstBeschrijvingLink = baseURL + 'pdf/KPN-WiFi-Dienstbeschrijving.pdf'
- var leveringsVoorwaardenLink = baseURL + 'pdf/KPN-Algemene-Leveringsvoorwaarden-Nederlands.pdf'
- var specifiekeVoorwaardenLink = baseURL + 'pdf/KPN-Specifieke-Contractvoorwaarden-En-Bepalingen-Online.pdf'
- var handleidingLink = baseURL + 'pdf/KPN-WiFi-Handleiding.pdf'
- var cookiesLink = baseURL + 'cookies.html'
- var locatiesLink = baseURL + 'locaties.html'
- var locatieZoekerLink = 'https://www.kpn.com/prive/mobiel-internet/hotspots-hoofd-nl/hotspots-locaties.htm'
- var risicosLink = baseURL + 'risicos-eigen-wifi.html'

- var mijnHotSpotLink = 'https://mijn.hotspotsvankpn.com/'
- var eindGebruikerSupportLink = 'https://www.kpn.com/prive/mobiel-internet/hotspots-hoofd-nl.htm'
- var algemeneHelpdeskLink = 'https://www.kpn.com/prive/klantenservice.htm'


- var libemaLogo = 'libema-logo-254x174px.jpg'
- var kwikfitLogo = 'kwikfit-logo-450x159px.jpg'
- var vluchtelingenwerkLogo = 'vluchtelingenwerk-nederland-logo-174x116px.png'
- var amrathLogo = 'amrath-logo-248x195px.jpg'
- var kroonenbergLogo = 'kroonenberg-groep-logo-203x52px.png'
- var totalLogo = 'total-logo-176x176px.png'
- var acLogo = 'ac-restaurants-hotels-logo-196x115px.jpg'
- var coopLogo = 'coop-logo-136x60px.png'
- var makroLogo = 'makro-logo-208x89px.png'
- var univeLogo = 'unive-verzekeringen-210x70px.png'
- var campanileLogo = 'campanile-logo-389x129px.jpg'
- var roompotLogo = 'roompot-logo-489x489px.jpg'
- var aristoLogo = 'aristo-logo-120x109px.gif'
- var carglassLogo = 'carglass-logo-200x200px.jpg'
- var lacoLogo = 'laco-logo-151x95px.png'
- var deenLogo = 'deen-supermarkten-logo-204x119px.png'
- var sligroLogo = 'sligro-logo-220x120px.png'
- var abronaLogo = 'abrona-logo-216x92px.png'
- var carltonLogo = 'carlton-hotel-collection-logo-200x200px.gif'
- var molecatenLogo = 'molecaten-logo-200x130px.jpg'
- var tauroLogo = 'tauro-logouare-789x213px.jpg'
- var theStingLogo = 'the-sting-logo-black-and-white-300x50px.png'
- var delifranceLogo = 'delifrance-logo-190x190px.jpg'
- var emteLogo = 'emte-supermarkten-logo-200x129px.png'
- var gammaLogo = 'gamma-logo-421x184px.png'
- var laPlaceLogo = 'la-place-logo-300x281px.png'
- var fletcherLogo = 'fletcher-hotels-logo-416x59px.jpg'
- var landalLogo = 'Landal-Greenparks-Logo-300x298px.png'
- var jaarbeursUtrechtLogo = 'jaarbeurs-utrecht-logo-400x101px.jpg'
- var texacoLogo = 'texaco-logo-120x120px.png'
- var healthCityLogo = 'healthcity-logo-400x80px.png'
- var jumboLogo = 'jumbo-logo-800x223px.png'
- var karweiLogo = 'karwei-logo-335x279px.png'
- var vuLogo = 'vu-logo-350x350px.jpg'
- var vanDerValkLogo = 'van-der-valk-logo-350x204px.gif'
- var centerParcsLogo = 'center-parcs-logo-200x157px.jpg'
- var nsLogo = 'ns-logo-291x173px.jpg'
- var shellLogo = 'shell-logo-374x409px.jpg'
- var albertHeijnLogo = 'albert-heijn-logo-280x298px.png'
- var basicFitLogo = 'basic-fit-logo-240x240px.jpg'

- var excelsiorLogo = 'sportclub-excelsior-400x400px.jpg'
- var quickBoysLogo = 'kvv-quick-boys-logo-272x356px.png'
- var zoetermeerLogo = 'fc-zoetermeer-logo-300x300px.png'
- var blauwWitLogo = 'cvv-blauw-wit-34-logo-300x269px.png'
- var afcLogo = 'afc-logo-300x300px.png'

- var verkremaLogo = 'verkrema-logo-221x149px.png'
- var beekseBergenLogo = 'vakantiepark-beekse-bergen-logo-211x100px.png'
- var meerwijckLogo = 'meerwijck-logo-183x127px.png'
- var kuilartLogo = 'de-kuilart-logo-275x100px.png'

- var homeFotoMobile = '151007-KPN-WiFi-HotSpots-Homepage-HEADER-SMARTPHONE.jpg'
- var sportVerenigingLPFotoMobile = '151007-KPN-WiFi-HotSpots-Sportvereniging-LP-HEADER-SMARTPHONE.jpg'

- var errorNaam = 'Vul uw naam in.'
- var errorBedrijf = 'Vul de naam van uw bedrijf of vereniging in.'
- var errorEmail = 'Vul een geldig e-mailadres in.'
- var errorTelefoon = 'Vul uw telefoonnummer in.'
- var errorVoornaam = 'Vul uw voornaam in.'
- var errorAchternaam = 'Vul uw achternaam in.'
- var errorPostcode = 'Vul uw postcode in.'
- var errorHuisnummer = 'Vul uw huisnummer in.'
- var errorToevoeging = 'Vul een geldige huisnummertoevoeging in.'
- var errorIBAN = 'Vul een geldig IBAN-nummer in (bijvoorbeeld NL39RABO0300065264).'
- var errorAkkoord = 'Om dit formulier te kunnen versturen moet u akkoord gaan.'
- var errorVraag = 'Vul uw vraag in.'

- var regExHuisnummer = '^[0-9]+$'
- var regExToevoeging = '^[a-zA-Z0-9]*$'
- var regExPostcode = '^(\d)(\d)(\d)(\d)(\s?)([a-zA-Z])([a-zA-Z])$'
- var regExIBAN = '/^AL\d{10}[0-9A-Z]{16}$|^AD\d{10}[0-9A-Z]{12}$|^AT\d{18}$|^BH\d{2}[A-Z]{4}[0-9A-Z]{14}$|^BE\d{14}$|^BA\d{18}$|^BG\d{2}[A-Z]{4}\d{6}[0-9A-Z]{8}$|^HR\d{19}$|^CY\d{10}[0-9A-Z]{16}$|^CZ\d{22}$|^DK\d{16}$|^FO\d{16}$|^GL\d{16}$|^DO\d{2}[0-9A-Z]{4}\d{20}$|^EE\d{18}$|^FI\d{16}$|^FR\d{12}[0-9A-Z]{11}\d{2}$|^GE\d{2}[A-Z]{2}\d{16}$|^DE\d{20}$|^GI\d{2}[A-Z]{4}[0-9A-Z]{15}$|^GR\d{9}[0-9A-Z]{16}$|^HU\d{26}$|^IS\d{24}$|^IE\d{2}[A-Z]{4}\d{14}$|^IL\d{21}$|^IT\d{2}[A-Z]\d{10}[0-9A-Z]{12}$|^[A-Z]{2}\d{5}[0-9A-Z]{13}$|^KW\d{2}[A-Z]{4}22!$|^LV\d{2}[A-Z]{4}[0-9A-Z]{13}$|^LB\d{6}[0-9A-Z]{20}$|^LI\d{7}[0-9A-Z]{12}$|^LT\d{18}$|^LU\d{5}[0-9A-Z]{13}$|^MK\d{5}[0-9A-Z]{10}\d{2}$|^MT\d{2}[A-Z]{4}\d{5}[0-9A-Z]{18}$|^MR13\d{23}$|^MU\d{2}[A-Z]{4}\d{19}[A-Z]{3}$|^MC\d{12}[0-9A-Z]{11}\d{2}$|^ME\d{20}$|^NL\d{2}[A-Z]{4}\d{10}$|^NO\d{13}$|^PL\d{10}[0-9A-Z]{,16}n$|^PT\d{23}$|^RO\d{2}[A-Z]{4}[0-9A-Z]{16}$|^SM\d{2}[A-Z]\d{10}[0-9A-Z]{12}$|^SA\d{4}[0-9A-Z]{18}$|^RS\d{20}$|^SK\d{22}$|^SI\d{17}$|^ES\d{22}$|^SE\d{22}$|^CH\d{7}[0-9A-Z]{12}$|^TN59\d{20}$|^TR\d{7}[0-9A-Z]{17}$|^AE\d{21}$|^GB\d{2}[A-Z]{4}\d{14}$/i'
