extends default
block head
	- var devVersion = true
	- var version = 1
	- var pageTitle = 'Algemene voorwaarden'
	- var bodyClass = 'voorwaarden'
block content
	include _masthead
	.hero__outer
		.hero__visual--mobile
		.container
			.row
				.col-xs-12.col-sm-8.col-md-6
					.hero
						.hero__text
							h1.hero__header Algemene voorwaarden
	.article__outer
		.container
			.article
				.row
					.col-xs-12.col-ts-6.col-ts-xpr
						.article__part
							h3.article__subheader 1. Algemeen
							p Deze Aanvullende Voorwaarden (‘Voorwaarden’) gelden voor iedere aanbieding, offerte, overeenkomst of dienst tussen KPN WiFi HotSpots en een Locatiehouder (‘Locatiehouder’) waarop KPN WiFi HotSpots deze Voorwaarden van toepassing heeft verklaard, een en ander voor zover van deze Voorwaarden niet door partijen uitdrukkelijk en schriftelijk is afgeweken. De toepasselijkheid van eventuele inkoop- leverings- of andere voorwaarden van Locatiehouder wordt uitdrukkelijk van de hand gewezen en zijn niet (mede) van toepassing.
							h3.article__subheader 2. Aanbiedingen
							p Alle door KPN WiFi HotSpots gedane aanbiedingen en offertes zijn geheel vrijblijvend tot het moment waarop zij door KPN WiFi HotSpots schriftelijk zijn bevestigd.
							h3.article__subheader 3. Exploitatie
							p KPN WiFi HotSpots exploiteert een netwerk (‘KPN WiFi HotSpots Premium Netwerk’) van Wi-Fi Accesspoints (‘KPN WiFi HotSpots’), waarmee draadloos internet kan worden aangeboden. Locatiehouder exploiteert c.q. is een beheerder van, en heeft als zodanig zeggenschap over, een locatie (‘Locatie’) die geschikt is om onderdeel te gaan uitmaken van het KPN WiFi HotSpots Netwerk.
							h3.article__subheader 4. Installatie
							p KPN WiFi HotSpots zal op een tussen partijen in onderling overleg overeen te komen tijdstip bij de Locatiehouder alle noodzakelijke apparatuur en programmatuur voor een KPN WiFi HotSpot (doen) installeren. De apparatuur en programmatuur zullen ter plekke getest worden en de Locatiehouder wordt geacht deze apparatuur en programmatuur in goede staat te hebben ontvangen tenzij de Locatiehouder binnen 5 dagen na aflevering en installatie schriftelijk van het tegendeel blijk geeft.
							h3.article__subheader 5. Aanleg breedband internetverbinding
							p Van het installeren van een KPN WiFi HotSpot kan onderdeel uitmaken het ofwel op naam van de Locatiehouder, ofwel op naam van KPN WiFi HotSpots aanleggen van een breedband Internetverbinding bij een provider naar keuze van KPN WiFi HotSpots. De Locatiehouder zal aan deze aanvraag alle noodzakelijke medewerking verlenen.
							h3.article__subheader 6. Apparatuur
							p #[span.number 6.1] De Locatiehouder verkrijgt het niet-exclusieve en niet- overdraagbare recht de door KPN WiFi HotSpots geïnstalleerde apparatuur en programmatuur te gebruiken overeenkomstig deze Voorwaarden. De Locatiehouder zal zich onthouden van onderhoudshandelingen en/of aanpassingen en wijzigingen in de apparatuur en de programmatuur, tenzij deze activiteiten schriftelijk zijn toegestaan door KPN WiFi HotSpots. De Locatiehouder zal de apparatuur en programmatuur alleen gebruiken op de oorspronkelijk met KPN WiFi HotSpots overeengekomen Locatie.
							p #[span.number 6.2] Behoudens voor zover wettelijk toegestaan, is het de Locatiehouder niet toegestaan apparatuur en programmatuur van KPN WiFi HotSpots te kopiëren, openbaar te maken, decompileren of reverse-engineeren, zonder de uitdrukkelijke schriftelijke toestemming van KPN WiFi HotSpots. De Locatiehouder zal voorts alle zaken die door KPN WiFi HotSpots als vertrouwelijk zijn aangemerkt of redelijkerwijs als zodanig kunnen worden gekwalificeerd, geheim houden en niet, direct of indirect aan derden openbaren.
							p #[span.number 6.3] De Locatiehouder zal zich als goed huisvader over de apparatuur en programmatuur ontfermen en zich inspannen eventuele schade, verlies of diefstal van apparatuur of programmatuur te voorkomen. De Locatiehouder is aansprakelijk voor verlies/diefstal van of schade aan de apparatuur en programmatuur, voor zover een en ander aan hem toegerekend kan worden of te wijten is aan een oorzaak welke in redelijkheid voor zijn rekening dient te komen. De Locatiehouder garandeert KPN WiFi HotSpots dat verlies, diefstal of schade van/aan de apparatuur en programmatuur mede is gedekt onder een door de Locatiehouder terzake afgesloten verzekering. Het bepaalde in artikel 18 is voor het overige van toepassing.
							h3.article__subheader 7. Eigendom apparatuur
							p #[span.number 7.1] De apparatuur en programmatuur blijven volledig eigendom van KPN WiFi HotSpots. De Locatiehouder zal er voor zorgdragen dat de apparatuur en programmatuur buiten haar vermogen blijft en van beslag en executie door derden gevrijwaard zal blijven. De Locatiehouder geeft KPN WiFi HotSpots een onherroepelijke volmacht om voor rekening en ten gunste van KPN WiFi HotSpots ter zake van het aard –en nagelvast aanwezig hebben van haar apparatuur op de Locatie, een (notarieel) recht van opstal te vestigen De Locatiehouder zal KPN WiFi HotSpots onmiddellijk in kennis stellen van (pogingen van) derden de apparatuur en programmatuur in beslag te nemen of hierop  conservatoir of executoriaal beslag  te leggen, en zal de beslagleggende deurwaarder of curator terstond de onderhavige Voorwaarden ter inzage geven.
							p #[span.number 7.2] Na beëindiging van een overeenkomst, om welke reden dan ook, zal de Locatiehouder, alle apparatuur en programmatuur onverwijld weer ter beschikking van KPN WiFi HotSpots stellen en bij haar (doen) afleveren.
							h3.article__subheader 8. Werking KPN WiFi HotSpot
							p #[span.number 8.1] De Locatiehouder staat er voor in dat de KPN WiFi HotSpot gedurende de contractperiode steeds volledig operationeel kan zijn (zonder daarbij uiteraard verantwoordelijk te zijn voor de goede werking ervan)  en zal, indien gewenst of noodzakelijk, KPN WiFi HotSpots of door  haar ingeschakelde derden steeds toegang verlenen tot de Locatie om onderhouds- en herstelwerkzaamheden te verrichten.
							p #[span.number 8.2] De Locatiehouder garandeert KPN WiFi HotSpots dat een ieder die zich op de Locatie bevindt van het Netwerk gebruik mag maken indien deze persoon zich aan de huisregels van de Locatiehouder houdt.
							p #[span.number 8.3] KPN WiFi HotSpots garandeert de afgesproken dekking op het moment van oplevering van de HotSpot op locatie van de Partner. KPN WiFi HotSpots neemt op generlei wijze verantwoordelijkheid voor wijzigingen die worden doorgevoerd op de locatie en het dekkingsgebied beïnvloeden.								
					.col-xs-12.col-ts-6.col-ts-xpl
						.article__part
							h3.article__subheader 9. Personalisatie locatiehouder
							p De Locatiehouder heeft desgevraagd  recht op het plaatsen van zijn bedrijfsnaam en/of logo op de toegangs- c.q. startpagina van de KPN WiFi HotSpot op de Locatie. De Locatiehouder verleent KPN WiFi HotSpots het recht om in het kader van de exploitatie van het Netwerk, de naam en het adres van de Locatie, met inbegrip van de/het daarmee verbonden handelsnaam, woord –en beeldmerk te gebruiken. Dit gebruiksrecht is  beperkt tot marketingdoeleinden , is niet-exclusief ,om–niet en overdraagbaar, in die zin dat KPN WiFi HotSpots het recht heeft aan partijen waarmee KPN WiFi HotSpots een directe of indirecte wederverkopersrelatie (of daarmee vergelijkbare relatie) onderhoudt, eenzelfde toestemming onder dezelfde voorwaarden te verlenen.						
							h3.article__subheader 10. Duur overeenkomst
							p Een overeenkomst inzake plaatsing en het aanwezig hebben van apparatuur wordt, behoudens schriftelijk andersluidende afspraken, steeds aangegaan voor een initiële contractperiode van 36 maanden, met automatische verlenging met steeds perioden van 12 maanden. Een overeenkomst is, behoudens toerekenbaar tekortschieten van een der partijen, gedurende de initiële contractperiode niet opzegbaar. Na ommekomst van de initiële contractperiode is ieder der partijen gerechtigd een overeenkomst tussentijds, zonder opgaaf van redenen, op te zeggen met inachtneming van een opzegtermijn van 3 kalendermaanden. De opzegging dient bij aangetekend schrijven te geschieden
							h3.article__subheader 11. Beëindiging overeenkomst
							p #[span.number 11.1] Partijen hebben het recht een overeenkomst met onmiddellijke ingang te beëindigen, indien de andere partij in staat van surseance of faillissement wordt verklaard of zijn verplichtingen niet nakomt, ook niet na daartoe door de andere partij te zijn aangemaand. KPN WiFi HotSpots is gerechtigd met inachtneming van een termijn van een maand eenzijdig wijzigingen aan te brengen in deze Voorwaarden. De Locatiehouder is alsdan gerechtigd om met onmiddellijke ingang de betrokken  overeenkomst te beëindigen.
							p #[span.number 11.2] Naast de wettelijke gronden voor opschorting, is KPN WiFi HotSpots gerechtigd de dienstverlening met onmiddellijke ingang geheel of gedeeltelijk op te schorten en, indien van toepassing, Apparatuur, data of kabels van KPN WiFi HotSpots van installaties, apparatuur en/of het netwerk van KPN WiFi HotSpots los te koppelen, uit te schakelen of de elektronische toegang ertoe te blokkeren indien:
							ol
								li KPN WiFi HotSpots daartoe verplicht wordt door een overheidsinstelling of toezichthouder;
								li dit noodzakelijk is voor de naleving (of handhaving) van (gewijzigde) wet- of regelgeving;
								li de kwaliteit of beschikbaarheid van de diensten die KPN WiFi HotSpots aan andere klanten levert, wordt  geschaad door het gedrag van de locatiehouder of diens personeel;
								li de veiligheid van personen of goederen wordt, of dreigt te worden, geschaad door het gedrag van de locatiehouder of diens personeel;
								li sprake is van een situaties waarin onmiddellijk moet worden gehandeld, bijvoorbeeld om de veiligheid van personen of de integriteit van het netwerk te beschermen;
							p #[span.number 11.3] De Locatiehouder blijft gedurende de in voorlaatste, bedoelde periode van de opschorting betaling verschuldigd.
								br
							p #[span.number 11.4] Voor zover KPN WiFi HotSpots de dienstverlening heeft opgeschort omdat de Locatiehouder een verplichting niet nakomt, dan is KPN WiFi HotSpots bij hervatting van de dienstverlening na opschorting gerechtigd om eventuele heraansluitingskosten in rekening te brengen. Eenzelfde recht komt KPN WiFi HotSpots toe indien de Locatie om een andere reden  de geschiktheid verliest om als KPN WiFi HotSpot te fungeren, zoals de situatie waarbij de exploitatie van het Netwerk ter plaatse van de Locatie naar het oordeel van KPN WiFi HotSpots niet langer rendabel is.
							h3.article__subheader 12. Derden
							p KPN WiFi HotSpots is te allen tijde gerechtigd haar rechten en verplichtingen uit een overeenkomst over te dragen aan derden, zolang de overnemende partij maar op dezelfde wijze uitvoering geeft aan verplichtingen als KPN WiFi HotSpots. De Locatiehouder is jegens KPN WiFi HotSpots verplicht bij een gehele of gedeeltelijke vervreemding van de Locatie aan, alsmede  bij het aangaan van een overeenkomst van verhuur of exploitatie van de Locatie met een derde, bij wijze van kettingbeding aan deze derde de verplichting op te leggen alle voor de Locatiehouder uit een overeenkomst waarop deze Voorwaarden van toepassing zijn, geldende verplichtingen jegens KPN WiFi HotSpots aan deze derde op te leggen. KPN WiFi HotSpots wordt geacht op het moment van totstandkoming van een overeenkomst waarop deze Voorwaarden van toepassing zijn dit beding voor zich te hebben aanvaard. Bij niet- nakoming van dit kettingbeding door de Locatiehouder verbeurt deze aan KPN WiFi HotSpots een niet voor rechterlijke matiging vatbare boete van € 10.000,= per geval.
							h3.article__subheader 13. Schade
							p Partijen zijn over en weer slechts aansprakelijk voor directe schade, tot een maximum van &euro; 2.500,-. Iedere andere of verdergaande (indirecte of gevolg)schade is uitdrukkelijk uitgesloten. KPN WiFi HotSpots neemt alle noodzakelijke technische maatregelen om hacken van of spammen met de op de Locatie aanwezige apparatuur en programmatuur te voorkomen, maar garandeert niet dat hacking of spamming niet zal voorkomen. Iedere aansprakelijkheid voor schade als gevolg van dergelijke gedragingen wordt uitdrukkelijk uitgesloten.
							h3.article__subheader 14. Toepassing recht
							p Op iedere overeenkomst is Nederlands recht van toepassing. Alle geschillen die voortvloeien uit of verband houden met een overeenkomst zullen uitsluitend worden voorgelegd aan de bevoegde rechter te Amsterdam.			
	include _footer