extends _email

block header
   img.CToWUd.a6T(style='display:block;border:0', src='#{base_url}/kpn-wifi-hotspots-email-header-bel-mij-terugformulier.jpg', width='630', height='210', border='0', tabindex='0')

block content
   include _email_bedankt