html
   body
      table(style="font-family: 'Lucida Grande', 'Helvetica Neue', Arial; border-spacing: 15px 5px;")
         tr
            td(colspan="2")
               table
                  tr
                     td(height="10")
               h2(style="font-family: 'Lucida Grande', 'Helvetica Neue', Arial; margin: 0 0 15px;") Contactgegevens
         tr
            td Bedrijfsnaam
            td WeLikeMilk
         tr
            td Aanhef
            td Dhr.
         tr
            td Voornaam
            td Nick
         tr
            td Achternaam
            td Hartskeerl
         tr
            td Postcode
            td 1181XB
         tr
            td Huisnummer
            td 10
         tr
            td E-mailadres
            td nick@welikemilk.nl
         tr
            td Telefoonummer
            td +316453797
         tr
            td
               table
                  tr
                     td(height="10")
               h2(style="font-family: 'Lucida Grande', 'Helvetica Neue', Arial; margin: 0 0 15px;") Factuurgegevens
         tr
            td Postcode
            td 1181XB
         tr
            td Huisnummer
            td 10
         tr
            td T.a.v.
            td Nick Hartskeerl
         tr
            td E-mailadres
            td nick@welikemilk.nl
         tr
            td Referentie
            td Test